.tag{
    text-transform: uppercase;
    font-size: 12px;
}

.subtitle{
    font-size: 16px;
}

.angular-box {
    background-color: #1976d4!important;
    img {
        display: block;
        margin: 60px 0 0 0;
        width: 100%;
        height: auto;
    }
}